.jumbotron.text-center
  %h1 Treasure
  %p Make someone's day.

%p.error{style: "display: none"} Missing Handle!
- if !current_user.nil?
  = form_for :tweet, url: tweets_path, method: :post, class: 'form-inline' do |f|
    .form-group.tweet-form
      = f.text_area :message, class: 'form-control', placeholder: 'Enter your tweet!'
    = f.submit "Send Tweet", class: 'btn btn-primary submit-btn'


- else
  %p You must log in to send a tweet.
